
{% extends 'base.html' %}

{% block title %}
    Listado de gastos
{% endblock %}

{% block content %}
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtrar Registros por Mes y Año</title>
    <style>

    </style>
</head>
<body>

    <div class="cuerpo">
        <h1>Seleccionar Mes y Año</h1>
        <div class="cont_form">
            <form action="resultados" method="GET">
                <label for="mes">Mes:</label>
                <select id="mes" name="mes">
                    <option value="01">Enero</option>
                    <option value="02">Febrero</option>
                    <option value="03">Marzo</option>
                    <option value="04">Abril</option>
                    <option value="05">Mayo</option>
                    <option value="06">Junio</option>
                    <option value="07">Julio</option>
                    <option value="08">Agosto</option>
                    <option value="09">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>

                <label for="anio">Año:</label>
                <select id="anio" name="anio">
                    <option value="2024">2024</option>
                    <option value="2023">2023</option>
                    <option value="2022">2022</option>
                    <!-- Agrega más años si es necesario -->
                </select>

                <button type="submit">Ver Resultados</button>
            </form>
        </div>
        <form method="post">
            <div class="botonera2" >
                <a href="/"><button type="button">Cancelar</button></a>
            </div>
        </form>
    </div>

</body>


{% endblock %}